* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
main {
  max-width: 800px; /* Adjust as needed */
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* Ensures padding is included in width */
  text-align: center; /* Aligns text content in center */
}
body {
  background-color: rgb(180, 180, 141);
}

p {
  font-size: 2rem;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: bisque;
}

.title {
  font-size: 5rem;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(181, 114, 114);
  text-align: center;
}
img {
  padding-top: 1%;
  padding-bottom: 2%;
  display: block;
  margin: auto;
  height: 30vh;
  width: 25vh;
}
/* #form {
  background-color: aquamarine;
  margin: 235px;
  margin-top: 15px;
  padding-left: 30px;
  border: 1px solid;
  border-color: black;
} */
.head {
  text-align: center;
}
.table {
  font-weight: 200;
  margin: auto;
  text-align: center;
}
th,
td {
  border: 1px solid;
}
.show-plans,
.show-fatLossPlans {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.8rem 6.5rem;
  margin: 2rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 30rem;
  width: 150px;
  height: 20px;
  cursor: pointer;
}
.close-plans,
.close-fat {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.btn {
  font-size: 2rem;
  display: block;
  margin: auto;
  width: 100px;
  height: 50px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.refresh,
.test {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  display: block;
  margin: auto;
  width: 150px;
  height: 50px;
}
#details {
  display: block;
  margin: auto;
  background-color: rgb(181, 114, 114);
  border: 2px solid black;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1%;
  width: 30rem;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.gender,
.age,
.weight {
  display: block;
  margin: auto;
  background: white;
  border: 2px solid black;
  font-family: inherit;
  color: black;

  font-size: 1.5rem;
  padding: 1%;
  width: 15rem;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.instagram {
  padding-top: 1%;
  padding-bottom: 2%;
  display: block;
  margin: auto;
  height: 3vh;
  width: 3vh;
}

#footer {
  padding-top: 1rem;
  margin-top: 15rem;
  background-color: rgb(54, 53, 53);
  color: #fff;
}

.hidden,
.hide {
  display: none;
}

/* Contest prep + flat loss + muscle building 
--> How these button work when clicked */
.modal,
.mo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.overlay,
.ov {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
